/* CSS Document */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0; padding: 0;
}

body {background:white; font:80%  Arial, Verdana, Helvetica, sans-serif !important; width:8.5in; padding:1em;}

.clear {height:0; clear:both !important; overflow:hidden;}

#wrapper { background:none; }

.condor-app-bumper { background:none; }
.condor-app-bumper div:first-child {margin:0 auto;}

html, body, #blue-header, #content, .css-btn, #sdl-alert-btn, #nav-menu ul, #nav-menu ul li, body #spacing, input.condor, textarea.condor,
div.condor-window-content input, div.condor-window-content textarea, div.condor-window-content select, 
#condor-context-bar, #condor-context-bar *, .condor-app-menu-container, .condor-app-menu-container *,
.developer-support-adp-box-off, .developer-support-adp-output-off, .developer-support-adp-box-on, .developer-support-adp-output-on,
#nav-menu ul li ul, #nav-menu ul li ul li, #my-menu-label, #wrapper, div.menu-hilighter, li.dragging-obj, #personal-menu, 
#personal-menu ul li div.widget, #condor-menu-srch-rslt, .condor-window-content, .condor-window-content-wrapper, ul.condor-modal-combobox {
    -o-box-sizing:   border-box !important;
    -moz-box-sizing:   border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing:         border-box !important;
}

body #blue-header, body #blue-header-alias, .menu_arrow_dn, body #intra-search, .developer-support-footer,
#condor-menu-srch-rslt, #intra-help, #nav-menu, #developer-toolbar, .condor-app-menu-container {display:none;}

/******************   CONTEXT BAR STYLES   *********************/
#condor-context-bar { 
	color:#222; filter: dropshadow(color=#ffffff,offX=0,offY=-1); text-shadow: 0px 1px 0px #ffffff; border:1px dotted black;
    font-family: Georgia, "Times New Roman",Times, serif; font-style: italic; background:none; margin-bottom:2em;
}
    #condor-context-bar * {font-family:Arial, Verdana, Helvetica, sans-serif;  font-style:normal;}
    #condor-context-bar h1 { display:inline-block; padding:0 0.3em 0 0.25em; line-height:32px;}
    #condor-context-bar a { text-decoration:none; text-transform:uppercase; color:#444; letter-spacing:1px; font-size:0.8em; display:inline-block; margin:0.2em;}

/******************   APPLICATION MENU STYLES   *********************/
.condor-app-menu-container {display:none;}

/******************   PERSONAL MENU STYLES   ********************/
	#personal-menu {display:none;}

/******************   FORM ELEMENTS STYLES   ********************/
div.condor-multipart-input label input, input[type=text].condor-modal-form-item, input[type=password].condor-modal-form-item,
input[type='text'].condor, div.condor-modal-combox-cont input {
    border: 1px solid #555555; color: #444; padding: 0.1em 0.33em;
    -o-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}

.css-btn {
	background: #EEEEEE;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#BBB));							/* Safari & Chrome */
	background: -moz-linear-gradient(top,  #fff,  #BBB);												/* Firefox */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#BBBBBB');	/* IE */
	-o-border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; width:auto;
	border: 1px solid #555; display: inline-block;
	color:#111; text-decoration: none; top:0.15em; text-transform:none !important;
	width:auto !important;
	
}
.css-btn:hover {
	background: rgb(253,246,232);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(253,246,232)), to(rgb(247,220,172)));						/* Safari & Chrome */
	background: -moz-linear-gradient(top,  rgb(253,246,232), rgb(247,220,172)));											/* Firefox */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(253,246,232)', endColorstr='rgb(247,220,172))');	/* IE */
	border: 1px solid rgb(177,127,60);
}
.css-btn:active {
	background: rgb(191,191,191);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmYmZiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Y2EzYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(191,191,191,1) 0%, rgba(156,163,188,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,191,191,1)), color-stop(100%,rgba(156,163,188,1)));
	background: -webkit-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(156,163,188,1) 100%);
	background: -o-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(156,163,188,1) 100%);
	background: -ms-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(156,163,188,1) 100%);
	background: linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(156,163,188,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#9ca3bc',GradientType=0 );
	border: 1px solid rgb(50,50,50);
	padding: 0.35em 0.7em 0.15em 0.7em !important;
}


/******************   MODAL WINDOW STYLES   ********************/
.condor-overlay {position: absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:10005;}
.condor-modal-window {background:#fff; margin:0 auto; box-shadow: 0 0 24px black; position: relative; border:1px solid #555;}
.condor-window-header, .condor-window-footer {position: absolute; left:0; background:rgba(0,0,0,0.5); height:40px; line-height: 40px; width:100%; }
    .condor-window-header .flat-btn, .condor-window-footer .flat-btn {
        height:40px; display:inline-block; padding:0 1em; font-size: 1em; background:none;
        color:#eee; border:0; border-left:1px solid #555; float:right;
    }
    .condor-window-footer input[type='submit'] {height:inherit; font-size:1em;}
    
.condor-window-header {top:0;}
    .condor-window-header h1 {color:#eee; font-size:1.5em; text-transform: capitalize; margin:0.05em 0.33em; line-height:40px; display:inline-block;}
    .condor-window-header .condor-modal-flat-btn {float:right;}
.condor-window-footer {bottom:0; text-align:right;}
.condor-window-content-wrapper {height:100%; padding:40px 0; overflow:hidden;}
.condor-window-content {height:100%; padding:10px; overflow:auto;}
    .condor-modal-window .condor-err-p {padding:1em 1em 0.5em 1em; font-weight:bold; color:#900;}

.condor-modal-flat-btn {
    text-align: center; display:inline-block; background-color:rgba(255,255,255,0.4); width:auto; font-size:1.1em;
    -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear;
    border:none; color:#fff; font-weight:bold; padding:0 1em; margin-right:1px;
}

.ui-resizable-handle {position:absolute;}
.ui-resizable-e {right:-4px; top:0px; height:96%; width:4px; cursor:e-resize;}
.ui-resizable-s {bottom:-4px; left:0px; height:4px; width:96%; cursor:s-resize;}
.ui-resizable-se {right:-3%; bottom:-3%; width:4%; height:4%; cursor:se-resize;}

.condor-modal-flat-btn:active, .condor-modal-flat-btn:hover, .condor-modal-flat-btn.selected {background-color:#fff; color:#333;}
.condor-modal-flat-btn:active {-moz-box-shadow:inset 0 0 10px #333; -webkit-box-shadow: inset 0 0 10px #333; box-shadow: inset 0 0 10px #333;}
.condor-modal-flat-btn.selected:hover {color:#777;}

/******************   WINDOW FORM STYLES   ********************/
    .condor-required-field {border:2px dotted #c00 !important;}
    /* form item styling */
		.condor-modal-form-label { 
		  display:block; text-transform: lowercase; color:#474747; font-size:1.1em; font-weight:bold; margin:1em 0 0.25em 0;
		}
		.condor-modal-form-item { display:block; margin-bottom:10px; }
    /* textfield */
		div.condor-multipart-input label input, input[type=text].condor-modal-form-item, 
		input[type=password].condor-modal-form-item, div.condor-modal-combox-cont input { 
		  padding:4px; border: none; background:#d2d2d2; width:100%;
		}
		input[type=text][disabled].condor-modal-form-item { background:#FFFFFF !important; border:1px dotted #ccc !important; }
    /* multi-part items (like hyperlink and document */
	    div.condor-multipart-input {clear:both; margin:1em 0 3em 0; padding-left:2em;}
	        div.condor-multipart-input label {width:100%; display:block; clear:both; line-height:2em; height:2em; margin-bottom:0.33em;}
	            div.condor-multipart-input label input, div.condor-multipart-input label select {
	               width:75% !important; margin-left:0.75em; display:inline; float:right;
	            }
	            div.condor-multipart-input label div.condor-file {line-height:1em;}
	            div.condor-multipart-input label div.condor-file {width:75%; margin 0 0 0 0.75em !important; display:inline-block; float:right; clear:right;}
	                div.condor-file div {
	                   width:100%; float:none; line-height:40px; display:inline-block; vertical-align:middle;
	                   width:78px !important; display:inline-block; margin-right:0.75em !important;
	                }
	                div.condor-file a.condor-modal-flat-btn {float:right;}
	                div.condor-file div a.condor-modal-flat-btn {float:none;}
	                   div.condor-file div span {display:inline-block;}
	               div.condor-multipart-input label div input {width:100% !important;}
    /* radio */
        div.condor-modal-form-item ul.condor-radio-input {list-style-type:none; display:block; margin: 0.5em 0 0.5em 2em;}
        div.condor-modal-form-item ul.condor-radio-input li {}
        
        div.condor-modal-form-item.condor-doc-input ul.condor-radio-input {margin:0.5em 0 0 0;}
        div.condor-modal-form-item.condor-doc-input ul.condor-radio-input li {float:left;}
        
        input[type=radio] {margin-right:0.33em; vertical-align:middle;}
    /* checkbox */

    /* combobox */
		div.condor-modal-combox-cont { position:relative; }
		ul.condor-modal-combobox { 
			position:absolute; background:#FFFFFF; margin:-11px 2% 0 2%; list-style:none; z-index:10050;
			max-height:150px; overflow:auto;  border:1px #d2d2d2 solid; border-top:none; width:96%;
		}
		ul.condor-modal-combobox li { cursor:pointer; padding:2px 5px; }
		ul.condor-modal-combobox li.selected { background:#1199FF; }
    /* text area */
        textarea.condor-modal-form-item {width:100%; height:85px;}
    /* document */
    div.condor-modal-form-item ul li, div.doc-container {margin-left:2em;}
    div.condor-modal-form-item a.condor-modal-flat-btn, div.condor-file a.condor-modal-flat-btn, div.condor-file-attachment a.condor-modal-flat-btn {
        background-color:rgba(0,0,0,0.4); height:40px; line-height:40px;
    }
    a.condor-modal-flat-btn.cancel-change {
        font-size:0.8em; height:1.5em !important; line-height:1.5em !important; position:absolute; top:0; right:0; 
    }
    a.condor-modal-flat-btn.add-attachment {float:right; clear:right;}
        
    div.condor-modal-form-item.condor-doc-input ul.condor-modal-combobox {margin:-1px 2%;}
        div.condor-modal-form-item.condor-doc-input ul.condor-modal-combobox li {margin:0; padding:0;}
            .condor-doc-srch-icon {
		        display:inline-block; height:1.25em; width:18px; background-position:center bottom; background-repeat:no-repeat;
		        padding-right:5px;
            }
            div.condor-file span.condor-doc-num, div.condor-modal-form-item span.condor-doc-num {
                  color:#09C; display: inline-block; font-weight: bold; font-size: 1.25em; line-height: 1em;
            }
            div.condor-file span.condor-doc-title, div.condor-modal-form-item span.condor-doc-title {
                text-transform: uppercase; font-size: 0.75em; line-height: 1em; padding:0 5px 0.25em 5px; color:#333; display: block;
                text-overflow:ellipsis; height:1em; overflow:hidden; white-space:nowrap;
            }
            div.condor-modal-form-item div.condor-file span.condor-doc-title {  display:inline; }
            div.condor-modal-form-item ul.condor-modal-combobox li span.condor-doc-srch-icon {padding:5px; margin-left:5px;}
            div.condor-modal-form-item ul.condor-modal-combobox li span.condor-doc-num {padding:5px 5px 0 0;}
            div.condor-modal-form-item ul.condor-modal-combobox li span.condor-doc-title {
                border-bottom: 1px dotted #ccc; text-overflow:auto; height:auto; overflow:auto; white-space:auto;
            }
            div.condor-modal-form-item.condor-doc-input ul.condor-modal-combobox li.selected span.condor-doc-num,
            div.condor-modal-form-item.condor-doc-input ul.condor-modal-combobox li.selected span.condor-doc-title {color:#fff; border-color:#fff;}
        div.doc-val-set-facade div {margin-right:3%; width:72%; padding:3px; border:1px dashed #ccc;}
        div.doc-val-set-facade a {float:right;}
    /* attachment */
    div.condor-file-attachment {position:relative;}
    div.condor-file-attachment div {margin-bottom:2em;}